<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shared Files</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
</head>
<body>
    <h2>Shared Files</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Download</th>
        </tr>
        <tr th:each="file : ${sharedFiles}">
            <td th:text="${file.name}">File Name</td>
            <td><a th:href="@{/api/files/download/{id}(id=${file.id})}">Download</a></td>
        </tr>
    </table>
    <a th:href="@{/files}">Back to files</a>
</body>
</html>
